<%- include('../../fragments/header.ejs') %>
        <main>
            <h2>Szczegóły czytelnika</h2>
            <form class="form">
                <label for="firstName">Imię: </label>
                <input type="text" name="firstName" id="firstName" value="Adam" readonly disabled/>
               <br>

                <label for="lastName">Nazwisko: </label>
                <input type="text" name="lastName" id="lastName" value="Mickiewicz" readonly disabled/>
                <br>
                <label for="phoneNumber">Numer telefonu: </label>
                <input type="text" name="phoneNumber" id="phoneNumber" value="500500500" readonly disabled/>
                <br>
                <label for="e-mail">E-mail: </label>
                <input type="text" name="e-mail" id="e-mail" value="czytelnik123@ksiazka.com" readonly disabled/>
            </form>
            <br>

            <h2>Szczegóły wypożyczeń</h2>
            <table class="table-list1">
                <tr>
                    <th>Tytuł</th>
                    <th>Autor</th>
                    <th>Data wypożyczenia</th>
                    <th>Data zwrotu</th>


                </tr>

            <tbody>
                <tr>
                    <td>Pan Tadeusz</td>
                    <td>Adam Mickiewicz</td>
                    <td>01-01-2020</td>
                    <td>01-07-2020</td>

                </tr>
                <tr>
                    <td>Kordian</td>
                    <td>Juliusz Słowacki</td>
                    <td>01-11-2021</td>
                    <td>10-11-2021</td>

                </tr>
                </tbody>
                </table>
                <br>
            <form class="form">
                <div class="form-buttons">

                    <a href="..\..\index.html" class="form-button-cancel">Anuluj</a>
                </div>

            </form>



        </main>
<%- include('../../fragments/footer.ejs') %>