<%- include('../../fragments/header.ejs') %>
        <main>
            <h2>Lista autorów</h2>
            <p>Brak rekordów do wyświetlenia.</p>
            <p><a href="form.html">Dodaj nowego autora</a></p>
            
        </main>
<%- include('../../fragments/footer.ejs') %>